.git
.github
.husky
.dockerignore
.env
.env.example
.gitignore
.lintstagedrc
.prettierrc

/node_modules
/dist

Dockerfile.dev
Dockerfile.prod
docker-compose.dev.yaml
docker-compose.prod.yaml
eslint.config.mjs
